<ion-view view-title="Saver">
  <ion-content>
  	<!-- User information and user controls -->
    <div class="user-controls">
    	<div class="container v-align-middle">
	    	<div class="row">
	    		<div class="col"></div>
	    		<div class="col">
		    		<div class="user-img-outer">
		    			<div class="user-img-inner v-align-middle">
		    				<i class="ion-camera user-img-upload"></i>
		    			</div>
		    		</div>
	    		</div>
	    		<div class="col"></div>
	    	</div>
	    </div>
    </div><!-- ./ end User information and user controls -->
    <!-- Saver data bar -->
    <div class="saver-data">
    	<div class="container v-align-middle">
    		<div class="row">
	    		<div class="col">
				  	<h1 class="saver-primary">£300</h1>
				  	<span class="saver-secondary">currently saved</span> 
			  	</div> 
			  	<div class="col">
			  		<i class="ion-plus add-save-item pull-right"></i>
			  	</div>
			</div>
		</div>
    </div><!-- ./ end saver data bar -->
   
	<ul class="list item-text-wrap saver-history">	
 		<li class="item item-icon-left">
	    	<i class="icon ion-heart saver-item"></i>
	    	<div class="saver-description">
	    		<span class="link">Perry earnt £2</span> by going to the gym on Tuesday 2 days ago
	    	</div>
	  	</li>
 		<li class="item item-icon-left">
	    	<i class="icon ion-cash saver-item"></i>
	    	<div class="saver-description">
	    		<span class="link">Perry earnt £2</span> by saving money on Monday 3 days ago
	    	</div>
	  	</li>
 		<li class="item item-icon-left">
	    	<i class="icon ion-fork saver-item"></i>
	    	<div class="saver-description">
	    		<span class="link">Perry earnt £2</span> by eating healthy on Sunday 3 days ago
	    	</div>
	  	</li>	  	
	</ul>
   
  </ion-content>
</ion-view>
