
/*Custom Navigation CSS*/
.bar.bar-stable {
	background-image: none;
	background-color: rgb(100,211,186);
	height: 60px;
}

.has-header {
	top: 60px;
}

.bar.bar-stable .title {
	color: white;
	font-weight: 300;
	line-height: 55px;
	text-align: left;
	font-size: 22px
}

.bar .buttons {
	margin-top: 3px;
	margin-left: 10px
}

.bar-stable .button.button-clear {
	color: white;
}

.menu-list .item {
	border: 0;
}

.icon-white {
	color: white;
}